.row.pl-2
  - author = UserProfile.find(message.author_id)
  .col-lg-1.text-center
    = button_to user_profile_path(author), method: :get, class: 'button_avatar_link_to_profile align-middle mt-2' do
      = image_tag author.avatar.attached? ? author.avatar : 'user_avatar_placeholder.png', class: 'avatar_link_to_profile'
  .col-lg-11.text-left
    .row
      = link_to author.name, user_profile_path(author.id)
      %span.ml-2.message-time=message.created_at.strftime('%H:%M')
    .row
      %span.message-body= message.body