%ul
  - if @users.present?
    - @users.each do |user|
      %li= link_to user.nickname, profile_path(User.find(user.id).user_profile)
  - if @user_profiles.present?
    - @user_profiles.each do |profile|
      %li= link_to profile.name, profile_path(profile)