%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "welcome"} JDIGram
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "welcome"}
          Feed
      %li.nav-item
        %a.nav-link{:href => "#"}
          Profile
      %li.nav-item
        %a.nav-link{:href => "#"}
          Messages