%h1= 'Conversation'
.container
  - @conversation.messages.each do |message|
    .row
      .col-lg-2
        %label= UserProfile.find(message.author_id).name
      .col-lg-10
        %label= message.body