/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

.notice-container {
  margin-top: 56px;
}
.container {
  margin-top: 100px;
}

@media all and (max-width: 1000px) {
  #nav-user-avatar-button {
    display: none;
  }
}

.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.dark-horizontal-separator {
  height: 3px;
  background-color: #2E2F30;
  width: 100%;
}

.light-gray-horizontal-separator {
  height: 1px;
  background-color: #d4d4d4;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.bt-info-button {
  background-color: #138496;
  border-color: #117a8b;
}

.bt-secondary-button {
  background-color: #6c757d;
  border-color: #6c757d;
}

.icon-light {
  color: #e2e6ea;
}

.white-background {
  background-color: white;
}

.soft-rounded-borders {
  border-radius: 5px;
}

body {
  background-color: #fafafa;
}

span {
  -ms-word-break: break-all;
  word-break: break-all;
}