// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info {
  display: flex;
}

// User avatar section
.user_avatar_container {
  padding-left: 20px;
}

.avatar_photo {
  width: 150px;
  height: 150px;
}

.avatar_photo,
.button_avatar_link_to_profile {
  border-radius: 50%;
  border: 1px solid #c9c6c5;
  alignment: left;
  background-size: cover;
}
