// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-post-photo {
  border-radius: 15px;

  padding: 0px 0px 0px 0px;

  width: 90%;
  height: 300px;
  object-fit: cover;
}

.avatar_photo {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  border: 1px solid #c9c6c5;

  alignment: left;
  object-fit: cover;
}

#follow-unfollow-link,
#open-conversation-link,
#follow-unfollow-button,
#open-conversation-button {
  height: 25px;
}

//#follow-unfollow-button,
//#open-conversation-button,
#follow-unfollow-icon,
#open-conversation-icon {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;

  border-radius: 5px;
}

#follow-unfollow-link,
#open-conversation-link {
  width: 40%;
  height: 80%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#follow-unfollow-button,
#open-conversation-button {
  color: white;
  width: 70px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
}

#follow-unfollow-icon,
#open-conversation-icon {
  height: 90%;
}

.profile-user-info-label-big {
  font-size: 20px;
  font-weight: 500;
}

.profile-user-info-label-medium {
  font-size: 18px;
  font-weight: 500;
}

.user-profile-post-image {
  width: 293px;
  height: 293px;
  object-fit: cover;
}