%div{:class => 'div_content'}
  -#%dl{:class => 'form-group'}
    -#%dt{:class => ''}
  %div{:class => 'profile_photo_group'}
    %img= @profile.photos.first
  %div{:class => 'name_group'}
    %label Username
    %label= @profile.name
  %div{:class => 'age_group'}
    %label Age
    %label= @profile.age