-#.container
-#  .row.text-center
-#    .col-lg-4
-#      %h1 some text
-#    .col-lg-8
-#      %h3 Some text x2
%main
  .container
    .row
      .col-lg-3
        - if @profile.avatar.attached?
          = image_tag @profile.avatar, class: 'avatar_photo'
      .col-lg-3.align-self-center
        .row
          .col-lg-10.text-left
            %label{:class => 'username_label'}= @profile.name
          .col-lg-2
            = button_to 'Edit', edit_profile_path(@profile.user), method: :get, class: 'btn btn-primary'
            -#%br
            -# = link_to 'Edit link', edit_profile_path(@profile.user), class: 'btn btn-primary'

            -#%button.btn.btn-lg.btn-default
              %i.fa.fa-edit
        .row
          %label= @profile.age